In [1]:
import numpy as np
import pandas as pd

In [6]:
deliveries=pd.read_csv("match_data.csv",low_memory=False)
match=pd.read_csv("match_info_data.csv")

In [7]:
deliveries.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id
0,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.1,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
1,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.2,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
2,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.3,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
3,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.4,Gujarat Titans,Chennai Super Kings,Shubman Gill,WP Saha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
4,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.5,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353

In [4]:
match.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1370353,2023,Ahmedabad,2023/05/29,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,field,D/L,1,Chennai Super Kings,0,5,DP Conway,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,KN Ananthapadmanabhan
1,1370352,2023,Ahmedabad,2023/05/26,Gujarat Titans,Mumbai Indians,Mumbai Indians,field,normal,0,Gujarat Titans,62,0,Shubman Gill,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,J Madanagopal
2,1370351,2023,Chennai,2023/05/24,Mumbai Indians,Lucknow Super Giants,Mumbai Indians,bat,normal,0,Mumbai Indians,81,0,Akash Madhwal,"MA Chidambaram Stadium, Chepauk, Chennai",BNJ Oxenford,VK Sharma,CB Gaffaney
3,1370350,2023,Chennai,2023/05/23,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,normal,0,Chennai Super Kings,15,0,RD Gaikwad,"MA Chidambaram Stadium, Chepauk, Chennai",AK Chaudhary,CB Gaffaney,BNJ Oxenford
4,1359543,2023,Mumbai,2023/05/21,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,8,C Green,"Wankhede Stadium, Mumbai",KN Ananthapadmanabhan,RJ Tucker,R Pandit

In [9]:
match.shape

(1024, 18)

In [10]:
deliveries.shape

(243817, 23)

In [13]:
deliveries_df=pd.DataFrame(deliveries)

In [14]:
deliveries_df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id
0,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.1,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
1,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.2,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
2,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.3,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
3,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.4,Gujarat Titans,Chennai Super Kings,Shubman Gill,WP Saha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353
4,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.5,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353

In [27]:
deliveries_df["tot_runs"]=deliveries_df["runs_off_bat"]+deliveries_df["extras"]

In [49]:
deliveries_df.head()

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,tot_runs_ball,tot_runs
0,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.1,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353,0,0
1,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.2,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353,0,0
2,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.3,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353,1,1
3,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.4,Gujarat Titans,Chennai Super Kings,Shubman Gill,WP Saha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353,1,1
4,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",1,0.5,Gujarat Titans,Chennai Super Kings,WP Saha,Shubman Gill,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370353,1,1

In [50]:
match_df=pd.DataFrame(match)

In [51]:
total_score_df=deliveries_df.groupby(["match_id","innings"]).sum()["tot_runs"].reset_index()

In [52]:
total_score_df.tail()

      match_id  innings  tot_runs
2070   1370351        2       101
2071   1370352        1       233
2072   1370352        2       171
2073   1370353        1       214
2074   1370353        2       171

In [53]:
total_score_df=total_score_df[total_score_df["innings"]==1]

In [54]:
total_score_df

      match_id  innings  tot_runs
0       335982        1       222
2       335983        1       240
4       335984        1       129
6       335985        1       165
8       335986        1       110
...        ...      ...       ...
2065   1359544        1       197
2067   1370350        1       172
2069   1370351        1       182
2071   1370352        1       233
2073   1370353        1       214

[1024 rows x 3 columns]

In [57]:
match_df=match_df.merge(total_score_df[["match_id","tot_runs"]],left_on="id",right_on="match_id")

In [58]:
match_df["team1"].unique()

array(['Gujarat Titans', 'Mumbai Indians', 'Chennai Super Kings',
       'Sunrisers Hyderabad', 'Royal Challengers Bangalore',
       'Lucknow Super Giants', 'Punjab Kings', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Rajasthan Royals', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [59]:
teams=['Gujarat Titans', 'Mumbai Indians', 'Chennai Super Kings',
       'Sunrisers Hyderabad', 'Royal Challengers Bangalore',
       'Lucknow Super Giants', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Rajasthan Royals', 'Kings XI Punjab',]

In [61]:
match_df["team1"]=match_df["team1"].str.replace("Delhi Daredevils","Delhi Capitals")
match_df["team2"]=match_df["team2"].str.replace("Delhi Daredevils","Delhi Capitals")

match_df["team2"]=match_df["team2"].str.replace("Deccan Chargers","Sunrisers Hyderabad")
match_df["team1"]=match_df["team1"].str.replace("Deccan Chargers","Sunrisers Hyderabad")

match_df["team1"]=match_df["team1"].str.replace("Punjab Kings","Kings XI Punjab")
match_df["team2"]=match_df["team2"].str.replace("Punjab Kings","Kings XI Punjab")

In [62]:
match_df=match_df[match_df["team1"].isin(teams)]
match_df=match_df[match_df["team2"].isin(teams)]

In [63]:
match_df

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,tot_runs
0,1370353,2023,Ahmedabad,2023/05/29,Gujarat Titans,Chennai Super Kings,Chennai Super Kings,field,D/L,1,Chennai Super Kings,0,5,DP Conway,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,KN Ananthapadmanabhan,1370353,214
1,1370352,2023,Ahmedabad,2023/05/26,Gujarat Titans,Mumbai Indians,Mumbai Indians,field,normal,0,Gujarat Titans,62,0,Shubman Gill,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,J Madanagopal,1370352,233
2,1370351,2023,Chennai,2023/05/24,Mumbai Indians,Lucknow Super Giants,Mumbai Indians,bat,normal,0,Mumbai Indians,81,0,Akash Madhwal,"MA Chidambaram Stadium, Chepauk, Chennai",BNJ Oxenford,VK Sharma,CB Gaffaney,1370351,182
3,1370350,2023,Chennai,2023/05/23,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,normal,0,Chennai Super Kings,15,0,RD Gaikwad,"MA Chidambaram Stadium, Chepauk, Chennai",AK Chaudhary,CB Gaffaney,BNJ Oxenford,1370350,172
4,1359543,2023,Mumbai,2023/05/21,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,8,C Green,"Wankhede Stadium, Mumbai",KN Ananthapadmanabhan,RJ Tucker,R Pandit,1359543,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,335986,2007/08,Kolkata,2008/04/20,Kolkata Knight Riders,Sunrisers Hyderabad,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,Asad Rauf,335986,110
1020,335985,2007/08,Mumbai,2008/04/20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,AV Jayaprakash,335985,165
1021,335984,2007/08,Delhi,2008/04/19,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,IL Howell,335984,129
1022,335983,2007/08,Chandigarh,2008/04/19,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,RB Tiffin,335983,240
1023,335982,2007/08,Bangalore,2008/04/18,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,AM Saheba,335982,222

In [64]:
match_df=match_df[match_df["dl_applied"]==0]

In [65]:
match_df

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,tot_runs
1,1370352,2023,Ahmedabad,2023/05/26,Gujarat Titans,Mumbai Indians,Mumbai Indians,field,normal,0,Gujarat Titans,62,0,Shubman Gill,"Narendra Modi Stadium, Ahmedabad",Nitin Menon,RJ Tucker,J Madanagopal,1370352,233
2,1370351,2023,Chennai,2023/05/24,Mumbai Indians,Lucknow Super Giants,Mumbai Indians,bat,normal,0,Mumbai Indians,81,0,Akash Madhwal,"MA Chidambaram Stadium, Chepauk, Chennai",BNJ Oxenford,VK Sharma,CB Gaffaney,1370351,182
3,1370350,2023,Chennai,2023/05/23,Chennai Super Kings,Gujarat Titans,Gujarat Titans,field,normal,0,Chennai Super Kings,15,0,RD Gaikwad,"MA Chidambaram Stadium, Chepauk, Chennai",AK Chaudhary,CB Gaffaney,BNJ Oxenford,1370350,172
4,1359543,2023,Mumbai,2023/05/21,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,8,C Green,"Wankhede Stadium, Mumbai",KN Ananthapadmanabhan,RJ Tucker,R Pandit,1359543,200
5,1359544,2023,Bengaluru,2023/05/21,Royal Challengers Bangalore,Gujarat Titans,Gujarat Titans,field,normal,0,Gujarat Titans,0,6,Shubman Gill,"M Chinnaswamy Stadium, Bengaluru",Nitin Menon,VK Sharma,Tapan Sharma,1359544,197
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,335986,2007/08,Kolkata,2008/04/20,Kolkata Knight Riders,Sunrisers Hyderabad,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,Asad Rauf,335986,110
1020,335985,2007/08,Mumbai,2008/04/20,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,AV Jayaprakash,335985,165
1021,335984,2007/08,Delhi,2008/04/19,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,IL Howell,335984,129
1022,335983,2007/08,Chandigarh,2008/04/19,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,RB Tiffin,335983,240
1023,335982,2007/08,Bangalore,2008/04/18,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,AM Saheba,335982,222

In [66]:
match_df=match_df[["match_id","city","winner","tot_runs"]]

In [67]:
match_df

      match_id        city                       winner  tot_runs
1      1370352   Ahmedabad               Gujarat Titans       233
2      1370351     Chennai               Mumbai Indians       182
3      1370350     Chennai          Chennai Super Kings       172
4      1359543      Mumbai               Mumbai Indians       200
5      1359544   Bengaluru               Gujarat Titans       197
...        ...         ...                          ...       ...
1019    335986     Kolkata        Kolkata Knight Riders       110
1020    335985      Mumbai  Royal Challengers Bangalore       165
1021    335984       Delhi             Delhi Daredevils       129
1022    335983  Chandigarh          Chennai Super Kings       240
1023    335982   Bangalore        Kolkata Knight Riders       222

[892 rows x 4 columns]

In [69]:
delivery_df=match_df.merge(deliveries_df,on="match_id")

In [71]:
delivery_df=delivery_df[delivery_df["innings"]==2]

In [72]:
delivery_df.shape

(103511, 28)

In [76]:
delivery_df

,match_id,city,winner,tot_runs_x,season,start_date,venue,innings,ball,batting_team,...,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,tot_runs_ball,tot_runs_y
127,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.1,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,0,0
128,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.2,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,1,1
129,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.3,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,0,0
130,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.4,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1370352,4,4
131,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.5,Mumbai Indians,...,NaN,NaN,NaN,caught,N Wadhera,NaN,NaN,1370352,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213874,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.5,Royal Challengers Bangalore,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,335982,1,1
213875,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.6,Royal Challengers Bangalore,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,335982,1,1
213876,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.7,Royal Challengers Bangalore,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,335982,0,0
213877,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,15.1,Royal Challengers Bangalore,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,335982,1,1
213878,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,15.2,Royal Challengers Bangalore,...,NaN,NaN,NaN,caught,SB Joshi,NaN,NaN,335982,0,0

In [82]:
delivery_df["current_score"]=delivery_df.groupby(["match_id"])["tot_runs_y"].cumsum()

C:\Users\DELL\AppData\Local\Temp\ipykernel_10108\881623701.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df["current_score"]=delivery_df.groupby(["match_id"])["tot_runs_y"].cumsum()

In [83]:
delivery_df

,match_id,city,winner,tot_runs_x,season,start_date,venue,innings,ball,batting_team,...,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,tot_runs_ball,tot_runs_y,current_score
127,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.1,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,1370352,0,0,0
128,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.2,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,1370352,1,1,1
129,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.3,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,1370352,0,0,1
130,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.4,Mumbai Indians,...,NaN,NaN,NaN,NaN,NaN,NaN,1370352,4,4,5
131,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.5,Mumbai Indians,...,NaN,NaN,caught,N Wadhera,NaN,NaN,1370352,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213874,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.5,Royal Challengers Bangalore,...,1.0,NaN,NaN,NaN,NaN,NaN,335982,1,1,80
213875,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.6,Royal Challengers Bangalore,...,NaN,NaN,NaN,NaN,NaN,NaN,335982,1,1,81
213876,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.7,Royal Challengers Bangalore,...,NaN,NaN,NaN,NaN,NaN,NaN,335982,0,0,81
213877,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,15.1,Royal Challengers Bangalore,...,NaN,NaN,NaN,NaN,NaN,NaN,335982,1,1,82
213878,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,15.2,Royal Challengers Bangalore,...,NaN,NaN,caught,SB Joshi,NaN,NaN,335982,0,0,82

In [96]:
delivery_df["runs_left"]=delivery_df["tot_runs_x"]-delivery_df["current_score"]+1

C:\Users\DELL\AppData\Local\Temp\ipykernel_10108\3865831191.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df["runs_left"]=delivery_df["tot_runs_x"]-delivery_df["current_score"]+1

In [97]:
delivery_df

,match_id,city,winner,tot_runs_x,season,start_date,venue,innings,ball,batting_team,...,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,tot_runs_ball,tot_runs_y,current_score,runs_left,balls_left
127,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.1,Mumbai Indians,...,NaN,NaN,NaN,NaN,1370352,0,0,0,234,119
128,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.2,Mumbai Indians,...,NaN,NaN,NaN,NaN,1370352,1,1,1,233,118
129,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.3,Mumbai Indians,...,NaN,NaN,NaN,NaN,1370352,0,0,1,233,117
130,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.4,Mumbai Indians,...,NaN,NaN,NaN,NaN,1370352,4,4,5,229,116
131,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.5,Mumbai Indians,...,caught,N Wadhera,NaN,NaN,1370352,0,0,5,229,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213874,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.5,Royal Challengers Bangalore,...,NaN,NaN,NaN,NaN,335982,1,1,80,143,31
213875,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.6,Royal Challengers Bangalore,...,NaN,NaN,NaN,NaN,335982,1,1,81,142,30
213876,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.7,Royal Challengers Bangalore,...,NaN,NaN,NaN,NaN,335982,0,0,81,142,29
213877,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,15.1,Royal Challengers Bangalore,...,NaN,NaN,NaN,NaN,335982,1,1,82,141,29
213878,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,15.2,Royal Challengers Bangalore,...,caught,SB Joshi,NaN,NaN,335982,0,0,82,141,28

In [117]:
delivery_df["player_dismissed"]=delivery_df["player_dismissed"].fillna("0")
delivery_df["player_dismissed"]=delivery_df["player_dismissed"].apply(lambda x:x if x=="0" else "1")
delivery_df["player_dismissed"]=delivery_df["player_dismissed"].astype(int)
wickets=delivery_df.groupby("match_id")["player_dismissed"].cumsum().values
delivery_df["wickets"]=10-wickets
delivery_df.head()

C:\Users\DELL\AppData\Local\Temp\ipykernel_10108\2993468910.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df["player_dismissed"]=delivery_df["player_dismissed"].fillna("0")
C:\Users\DELL\AppData\Local\Temp\ipykernel_10108\2993468910.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df["player_dismissed"]=delivery_df["player_dismissed"].apply(lambda x:x if x=="0" else "1")
C:\Users\DELL\AppData\Local\Temp\ipykernel_10108\2993468910.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df["player_dismissed"]=delivery_df["player_dismissed"].astype(int)
C:\Users\DELL\AppData\Local\Temp\ipykernel_10108\2993468910.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df["wickets"]=10-wickets

,match_id,city,winner,tot_runs_x,season,start_date,venue,innings,ball,batting_team,...,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,tot_runs_ball,tot_runs_y,current_score,runs_left,balls_left,wickets
127,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.1,Mumbai Indians,...,1,NaN,NaN,1370352,0,0,0,234,119,9
128,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.2,Mumbai Indians,...,1,NaN,NaN,1370352,1,1,1,233,118,8
129,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.3,Mumbai Indians,...,1,NaN,NaN,1370352,0,0,1,233,117,7
130,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.4,Mumbai Indians,...,1,NaN,NaN,1370352,4,4,5,229,116,6
131,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.5,Mumbai Indians,...,1,NaN,NaN,1370352,0,0,5,229,115,5

In [116]:
delivery_df["balls_left"]=(120-(delivery_df["ball"].astype(int)*6+(delivery_df["ball"]-delivery_df["ball"].astype(int))*10)).astype(int)
delivery_df

C:\Users\DELL\AppData\Local\Temp\ipykernel_10108\3685729053.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df["balls_left"]=(120-(delivery_df["ball"].astype(int)*6+(delivery_df["ball"]-delivery_df["ball"].astype(int))*10)).astype(int)

,match_id,city,winner,tot_runs_x,season,start_date,venue,innings,ball,batting_team,...,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,tot_runs_ball,tot_runs_y,current_score,runs_left,balls_left,wickets
127,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.1,Mumbai Indians,...,1,NaN,NaN,1370352,0,0,0,234,119,9
128,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.2,Mumbai Indians,...,1,NaN,NaN,1370352,1,1,1,233,118,8
129,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.3,Mumbai Indians,...,1,NaN,NaN,1370352,0,0,1,233,117,7
130,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.4,Mumbai Indians,...,1,NaN,NaN,1370352,4,4,5,229,116,6
131,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.5,Mumbai Indians,...,1,NaN,NaN,1370352,0,0,5,229,115,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213874,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.5,Royal Challengers Bangalore,...,1,NaN,NaN,335982,1,1,80,143,31,-87
213875,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.6,Royal Challengers Bangalore,...,1,NaN,NaN,335982,1,1,81,142,30,-88
213876,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.7,Royal Challengers Bangalore,...,1,NaN,NaN,335982,0,0,81,142,29,-89
213877,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,15.1,Royal Challengers Bangalore,...,1,NaN,NaN,335982,1,1,82,141,29,-90
213878,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,15.2,Royal Challengers Bangalore,...,1,NaN,NaN,335982,0,0,82,141,28,-91

In [110]:
delivery_df

,match_id,city,winner,tot_runs_x,season,start_date,venue,innings,ball,batting_team,...,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,tot_runs_ball,tot_runs_y,current_score,runs_left,balls_left,wickets
127,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.1,Mumbai Indians,...,1,NaN,NaN,1370352,0,0,0,234,119,9
128,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.2,Mumbai Indians,...,1,NaN,NaN,1370352,1,1,1,233,118,8
129,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.3,Mumbai Indians,...,1,NaN,NaN,1370352,0,0,1,233,117,7
130,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.4,Mumbai Indians,...,1,NaN,NaN,1370352,4,4,5,229,116,6
131,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.5,Mumbai Indians,...,1,NaN,NaN,1370352,0,0,5,229,115,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213874,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.5,Royal Challengers Bangalore,...,1,NaN,NaN,335982,1,1,80,143,31,-87
213875,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.6,Royal Challengers Bangalore,...,1,NaN,NaN,335982,1,1,81,142,30,-88
213876,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.7,Royal Challengers Bangalore,...,1,NaN,NaN,335982,0,0,81,142,29,-89
213877,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,15.1,Royal Challengers Bangalore,...,1,NaN,NaN,335982,1,1,82,141,29,-90
213878,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,15.2,Royal Challengers Bangalore,...,1,NaN,NaN,335982,0,0,82,141,28,-91

In [115]:
delivery_df["player_dismissed"]=delivery_df["player_dismissed"].fillna("0")
delivery_df["player_dismissed"]=delivery_df["player_dismissed"].apply(lambda x:x if x=="0" else "1")
delivery_df["player_dismissed"]=delivery_df["player_dismissed"].astype(int)
wickets=delivery_df.groupby("match_id")["player_dismissed"].cumsum().values
delivery_df["wickets"]=10-wickets
delivery_df.head()

C:\Users\DELL\AppData\Local\Temp\ipykernel_10108\1440563486.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df["player_dismissed"]=delivery_df["player_dismissed"].fillna("0")
C:\Users\DELL\AppData\Local\Temp\ipykernel_10108\1440563486.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df["player_dismissed"]=delivery_df["player_dismissed"].apply(lambda x:x if x=="0" else "1")
C:\Users\DELL\AppData\Local\Temp\ipykernel_10108\1440563486.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df["player_dismissed"]=delivery_df["player_dismissed"].astype(int)
C:\Users\DELL\AppData\Local\Temp\ipykernel_10108\1440563486.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df["wickets"]=10-wickets

,match_id,city,winner,tot_runs_x,season,start_date,venue,innings,ball,batting_team,...,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,tot_runs_ball,tot_runs_y,current_score,runs_left,balls_left,wickets
127,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.1,Mumbai Indians,...,1,NaN,NaN,1370352,0,0,0,234,119,9
128,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.2,Mumbai Indians,...,1,NaN,NaN,1370352,1,1,1,233,118,8
129,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.3,Mumbai Indians,...,1,NaN,NaN,1370352,0,0,1,233,117,7
130,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.4,Mumbai Indians,...,1,NaN,NaN,1370352,4,4,5,229,116,6
131,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.5,Mumbai Indians,...,1,NaN,NaN,1370352,0,0,5,229,115,5

C:\Users\DELL\AppData\Local\Temp\ipykernel_10108\3508441965.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df["player_dismissed"]=delivery_df["player_dismissed"].fillna("0")

,match_id,city,winner,tot_runs_x,season,start_date,venue,innings,ball,batting_team,...,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,tot_runs_ball,tot_runs_y,current_score,runs_left,balls_left,wickets
127,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.1,Mumbai Indians,...,1,NaN,NaN,1370352,0,0,0,234,119,9
128,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.2,Mumbai Indians,...,1,NaN,NaN,1370352,1,1,1,233,118,8
129,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.3,Mumbai Indians,...,1,NaN,NaN,1370352,0,0,1,233,117,7
130,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.4,Mumbai Indians,...,1,NaN,NaN,1370352,4,4,5,229,116,6
131,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.5,Mumbai Indians,...,1,NaN,NaN,1370352,0,0,5,229,115,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213874,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.5,Royal Challengers Bangalore,...,1,NaN,NaN,335982,1,1,80,143,31,-87
213875,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.6,Royal Challengers Bangalore,...,1,NaN,NaN,335982,1,1,81,142,30,-88
213876,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.7,Royal Challengers Bangalore,...,1,NaN,NaN,335982,0,0,81,142,29,-89
213877,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,15.1,Royal Challengers Bangalore,...,1,NaN,NaN,335982,1,1,82,141,29,-90
213878,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,15.2,Royal Challengers Bangalore,...,1,NaN,NaN,335982,0,0,82,141,28,-91

In [108]:
delivery_df

,match_id,city,winner,tot_runs_x,season,start_date,venue,innings,ball,batting_team,...,player_dismissed,other_wicket_type,other_player_dismissed,cricsheet_id,tot_runs_ball,tot_runs_y,current_score,runs_left,balls_left,wickets
127,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.1,Mumbai Indians,...,1,NaN,NaN,1370352,0,0,0,234,119,9
128,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.2,Mumbai Indians,...,1,NaN,NaN,1370352,1,1,1,233,118,8
129,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.3,Mumbai Indians,...,1,NaN,NaN,1370352,0,0,1,233,117,7
130,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.4,Mumbai Indians,...,1,NaN,NaN,1370352,4,4,5,229,116,6
131,1370352,Ahmedabad,Gujarat Titans,233,2023,2023-05-26,"Narendra Modi Stadium, Ahmedabad",2,0.5,Mumbai Indians,...,1,NaN,NaN,1370352,0,0,5,229,115,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213874,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.5,Royal Challengers Bangalore,...,1,NaN,NaN,335982,1,1,80,143,31,-87
213875,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.6,Royal Challengers Bangalore,...,1,NaN,NaN,335982,1,1,81,142,30,-88
213876,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,14.7,Royal Challengers Bangalore,...,1,NaN,NaN,335982,0,0,81,142,29,-89
213877,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,15.1,Royal Challengers Bangalore,...,1,NaN,NaN,335982,1,1,82,141,29,-90
213878,335982,Bangalore,Kolkata Knight Riders,222,2007/08,2008-04-18,M Chinnaswamy Stadium,2,15.2,Royal Challengers Bangalore,...,1,NaN,NaN,335982,0,0,82,141,28,-91